* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 24, 24);
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.prac-table {
  color: white;
  width: 400px;
  border: 2px solid #efefef;
  gap: 3px;
}
